<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fund Transfer Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
	
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
	<div th:fragment="header"></div>
  <div th:insert="customer/header.html :: header"> </div>
	
  <br/>
  <div class="container">
  <h2>Fund Transfer</h2>
   <span th:utext="${error}" style="color: red;font-size: 18px;"></span>
   <span th:utext="${removeMessage}" style="color: red;font-size: 18px;"></span>
   <hr/>
  <div style="width: 50%">
  <span th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
     
     <div th:if="${payeeList!=null}" style="width:100%">
     
 	<form action="#" name="form1" method="post"  th:action="@{/customer/account/submitfundTransfer}" >   
     
     	<input type="hidden"  class="form-control" th:value="${customerId}" name="customerId"    id="customerId"> 
     	
        <label for="amount"><b>Payee:</b></label>
    	<select class="form-control" id="payeeId" name="payeeId">
         <option th:each="payee : ${payeeList}"
                th:value="${payee.id}"
                th:text="${payee.payeeNickName}"></option>
    	</select>
		
		<label for="amount"><b>Amount:</b></label>
		<input type="number"  class="form-control"   name="amount"  placeholder="Enter amount">
        
        <label for="description"><b>Description:</b></label>
		<input type="text"  class="form-control"   name="description"  placeholder="Enter description">
  		<br/>
         
        <button type="submit" class="btn btn-primary" >Submit </button>
		<button type="reset" class="btn btn-danger">Reset</button>
  		</form>
       	</div>
        
		</div>
		 
       </div>
		</body>
         
         
       
  
    

<footer  class="ffooter">
</footer>


</html>

